.modal-body{
    img{
        object-fit: cover;
    }
}
// 貼上助教 code，待修改
.expand_more {
    display: inline-block;
  }
  .expand_less {
    display: none;
  }
  .collapsed .expand_more {
    display: inline-block;
  }
  .collapsed .expand_less {
    display: none;
  }
  .form-font-size{
    font-size: 14px;
  }